*.class
*.doc
*.docx
*.bat
*.dat
*.pdf
*.json
*.log
*.dotm
*.dotm
*.dotx
*.odt
*.mht
*.mhtml
*.rtf
*.txt
*.wps
*.xml
*.xps
*.csv
*.dif
*.dbf
*.ods
*.prn
*.xla
*.xlam
*.xls
*.xlsx
*.xlm
*.xlt
*.xltm
*.xltx
*.xps
*.xlw
*.bmp
*.emf
*.gif
*.odp
*.png
*.jpeg
*.jpg
*.pot
*.potm
*.ppam
*.ppa
*.potx
*.ppsm
*.ppsx
*.ppt
*.pptm
*.pptx
*.thmx
*.tif
*.wmf
*.wmv
*.exe
*.py
*.rs
*.cpp
*.c